@{
    ViewBag.Title = "Grand Circus Demo";
}

<div class="jumbotron">
    <h1>Grand Circus Demo</h1>
    <p class="lead">This website uses a combination of Git Hub and Azure to modify, update and deploy projects<br /> 
    Learn more about ASP.NET</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Connecting to Git Hub</h2>
        <p>
            Git Hub is a source control that helps modify code
        </p>
        <p><a class="btn btn-default" href="https://github.com/">Learn more &raquo;</a></p>
        <!--<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>-->
        <!--http://go.microsoft.com/fwlink/?LinkId=301865-->
    </div>
    <div class="col-md-4">
        <h2>Connect to Azure</h2>
        <p>Microsoft Azure is a cloud hosting service that assists with building and deployment</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com/en-us/pricing/free-trial/?WT.mc_id=azurebg_us_sem_google_br_top_nontest_trialpage_microsoftazure&WT.srch=1‎">Learn more &raquo;</a></p>
        <!--http://go.microsoft.com/fwlink/?LinkId=301866-->
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>